@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
ul[class], ol[class] {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, button {
    margin: 0;
    font-weight: normal;
    font-size: 15px;
    padding-bottom: 0.2em;
}

h1, h2, h3, h4 {
    font-weight: bold;
    font-size: 20px;
}

body {
    margin: 0;
    min-height: 100vh;
    line-height: 1.5;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body * {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    transition-duration: 0.5s;
}

button {
    outline: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: inherit;
}

::-webkit-scrollbar-thumb {
    background: #929292;
}

::-webkit-scrollbar-thumb:hover {
    background: #122d6b;
}